.todo {
  padding: 6px 7px;
  margin-bottom: 1.3%;
  border-radius: 9px;
  border: 1px solid gray;
  /* font-size: 1em; */
  /* letter-spacing: 2px; */
  /* transition: 0.3s all linear; */
  width: 341px;
  display: flex;
  justify-content: space-between;
}

.del-button {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  outline: none;
  text-align: center;
  /* font-weight: bold; */
  padding: 2px;
}

.edit-todo {
  outline: none;
  width: 280px;
  text-align: center;
}
